<section class="section1">
        <div class="welcome-msg">
                <h1>Welcome to airline reservation system</h1>
                <p>We are a digital marketing agency that specializes in getting our clients results – from boosting online traffic and brand awareness, to generating qualified leads – ultimately increasing sales. Let our online marketing company help your business grow with successful marketing, advertising, design, and website services.</p>
<a  [routerLink]="['/searchFlight']" (click)="onSubmit()">book</a>              </div>

             
                    
              
<router-outlet></router-outlet>
</section>

